name: vendas_data_up

on:
  workflow_dispatch: 
  schedule:
    - cron: '0 8 * * *'  # Runs every day at 5am GMT-3

permissions: write-all # Give the workflow permission to write to the repository

jobs:
  run-selenium:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium pandas openpyxl xlrd gspread google-auth google-auth-oauthlib google-auth-httplib2 google-api-python-client packaging
      
      - name: Run Selenium Script
        env:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
        run: python scripts/download_table.py
        
      #- name: Process and Upload to Google Sheets
       # env:
        #  GGL_CREDENTIALS: ${{ secrets.GGL_CREDENTIALS }}
        #run: python scripts/process_and_upload.py 
